body {
  max-width: 80%;
}

div {
  background-color: #fff;
  border: 1px #949494;
}

h1 {
  margin-left: 25px;
  margin-top: 25px;
}

.App {
  margin-left: 25px;
}

.container {
  background-color: #c2c2c2;
  max-width: 100%;
}

.result-box {
  width: 50%;
  height: 75px;
  margin-top: 2%;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #949494;
  overflow: hidden;
}

.nom-box {
  width: 50%;
  height: 75px;
  margin-top: 2%;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #949494;
  overflow: hidden;
}
